<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= @diary.title %>
          </h5>
          <p class="card-text">
            <%= raw Rinku.auto_link(simple_format(h(@diary.body)),
                mode=:all, link_attr='target="_blank"', skip_tags=nil) %>
          </p>

          <p class="card-img">
            <%= image_tag @diary.thumbnail if @diary.image.attached? %>
          </p>

          <p class="card-text">
            <small class="text-muted">
              更新日：<%= @diary.updated_at.strftime("%Y-%m-%d") %>
            </small>
          </p>
          <% if current_user.already_favorited?(@diary) %>
            <%= link_to diary_favorites_path(@diary), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to diary_favorites_path(@diary), method: :post do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          <%= link_to "編集", edit_diary_path, class: "btn btn-primary mr-3" %>
          <%= link_to "削除", @diary_path, method: :delete,
              data: { confirm: "#{@diary.title}を削除しますか？" },
              class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
